#root {
    background-color: #2C2C32;
    color: white;
}

.board {
    position: relative;
}

.game {
    position: absolute;
}

.boardGame {
    color: white;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 1rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer {
    border-top: solid white 1px;
    color: white;
}
footer ul {
    list-style: none;
}